.header {
  height: 170px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;           /* or text-align: center   :) */
  margin-top: 150px;
}

.logo {
  width: 200px;
  margin: 0 auto;
}

.content {
  text-align: center;
}

.search-bar {
  width: 560px;
  box-shadow: 0px 4px 10px -5px grey;
  height: 42px;
  margin-bottom: 13px;
  font-size: 17px;
  border: 1px solid lightgrey;
  background-image: url("img/google-mic.png");
  background-repeat: no-repeat;                /* add google microphone just once */
  background-position: right;
}

.button {
  font-family: arial;
  width: 135px;
  height: 38px;
  background-color: #f3f3f7;
  color: #757575;
  border: none;
  font-weight: bold;
  border-radius: 3px;
  margin-bottom: 20px;
}

.button:hover {
  font-family: arial;
  width: 135px;
  height: 38px;
  border: 1px solid lightgrey;
  color: black;
  background-color: #f6f6f6;
}

.google-lang {
  font-family: arial;
  font-size: 13px;
  display: inline;
}

.lang {
  display: inline;
}

.content-login {
  text-align: center;
  margin-top: -30px;
  }

.main-title {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 40px;
  color: #555555;
}

.title-block {
  font-family: Arial;
  font-size: 20px;
  color: #555555;
  margin-top: -80px;
}

.small-title {
  margin-top: -10px;
}

.login-wall {
  width: 420px;
  height: 400px;
  background-color: #f7f7f7;
  margin: 0 auto;
  border: 1px solid #f7f7f7;
  border-radius: 3px;
  box-shadow: 0px 4px 4px 1px lightgrey;
}

.login-photo {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  background-color: lightgrey;
  margin: 0 auto;
  margin-top: 50px;
}

.login-email {
  margin-top: 30px;
  font-size: 20px;
  background-color: #faffba;
  border: 1px solid #d9d9d9;
}

.login-wall button {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #4587f6;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.login-wall button, .login-email {
  width: 320px;
  height: 50px;
}

.login-wall a {
  float: right;
  padding-right: 50px;
  margin-top: 10px;
}

.content-login a {
  text-decoration: none;
  color: #4587f6;
  font-weight: bold;
}

.create-account {
  margin-top: 25px;
  display: block;
  font-size: 20px;
  font-family: "Helvetica Neue";
}
